# Configurações do Servidor
PORT=3000

# Configurações do Banco de Dados Principal (MySQL)
DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_MYSQL_PORT=3306

# Configurações do Banco de Dados Extra (MongoDB)
MONGO_URI=mongodb://localhost:27017/essentia_tecnologies
DB_MONGO_PORT=27017

# Configurações de Autenticação (JWT)
JWT_SECRET=
JWT_EXPIRES_IN=1d